.about {
    background-color: hsl(208, 23%, 67%);
    padding: 15rem;
}

.about h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.about li {
    padding: 35px 10px;
}

.about h4 {
    margin-bottom: 5px;
}

.about p {
    margin-top: 5px;
}