.about {
    background-color: hsl(18, 60%, 82%);
    height: 100vh;
    padding: 15rem;
}

.about h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.about li {
    padding: 35px 10px;
}

.about h4 {
    margin-bottom: 5px;
}

.about p {
    margin-top: 5px;
}