.listing {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr) 2fr 1fr;
    justify-items: center;
    margin-bottom: 30px;
    grid-column-gap: 27px;
}



.icon-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.green {
    color: green;
}