
.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10rem 2rem;
    background-color: hsl(208, 23%, 67%);
    height: 50vh;
}

.contact h3 {
    font-size: 25px;
}

.contact p {
    margin-top: 15px;
}

.personal-email {
    padding-right: 15px;
}

.personal-email:hover {
    color: hsl(340, 49%, 45%);
    transition: .3s;
}