.hobbies {
    background-color: hsl(191, 13%, 83%);
    padding: 12rem 11rem;
    padding-bottom: 20rem;
    height: 70vh;
}

.hobbies h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.hobbies li {
    padding: 35px 10px;
}

.hobbies h4 {
    margin-bottom: 5px;
}

.hobbies p {
    margin-top: 5px;
    font-size: 20px;
}