.home {
    background-color: hsl(337, 5%, 71%);
    height: 100vh;
    padding: 15rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.home h1 {
    font-size: 50px;
}

.contact {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.home h3 {
    align-self: center;
    font-size: 25px;
}

.home p {
    margin-top: 15px;
    align-self: center;
}

.liLogo {
    width: 35px;
}

.githubLogo {
    width: 35px;
    padding-left: 15px;
}

.liLogo:hover, .githubLogo:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.img-links {
    align-self: center;
    margin-top: 15px;
}

.personal-email {
    padding-right: 15px;
}

.personal-email:hover {
    color: hsl(340, 49%, 45%);
    transition: .3s;
}