#login-container {
    padding: 3rem;
    padding-top: 10rem;
    background: hsl(191, 13%, 83%);
}

#login {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#login input {
    width: 15%;
    box-sizing: border-box;
    border: 2px solid hsla(219, 14%, 20%, 0.699);
    border-radius: 2px;
    background-color: hsl(60, 22%, 87%);
    margin-left: 15px;
    padding: 5px 0;
}

#login input[type=text] {
    padding-left: 10px;
}

#login input[type=text]:focus {
    border: 3px solid hsl(217, 13%, 20%);
}

#login input[type='submit'] {
    background-color: hsla(219, 14%, 20%, 0.699);
    color: hsl(60, 22%, 87%);
}

.login-error-box {
    width: 100%;
    color: hsl(0, 71%, 17%);
}

.login-error {
    text-align: center;
    font-size: 13px;
}