@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

header {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(217, 13%, 20%);
    position: fixed;
    padding: 2rem 0;
    width: 100%;
    color: hsl(60, 22%, 87%);
}

header div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px;
}

.navbar a {
    text-decoration: none;
    padding-right: 15px;
}

.navbar a:hover {
    color: hsl(0, 0%, 100%);
    transition: .3s;
    cursor: pointer;
}

.img-links {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    align-items: center;
}

.fa-linkedin, .fa-github-square, .fa-sign-in-alt {
    font-size: 38px;
}

.fa-file-alt {
    font-size: 34px;
}

.fa-linkedin:hover, .fa-github-square:hover, .fa-file-alt:hover, .fa-sign-in-alt:hover {
    color: hsl(0, 0%, 100%);
    transition: .3s;
    cursor: pointer;
}