@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(211, 71%, 24%);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5rem;
}

#navbar a {
    text-decoration: none;
    color: rgb(168, 148, 148);
}

#navbar a:hover {
    color: hsl(20, 35%, 90%);
    transition: .3s;
    cursor: pointer;
}

.liLogo {
    width: 35px;
}

.githubLogo {
    width: 35px;
    padding-left: 15px;
}

.liLogo:hover, .githubLogo:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}